<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


<parameter name="webAddress" value="https://www.etruckingsolution.com/"/>
<parameter name="fname" value="Harpreet"/>
<parameter name="lname" value="Singh"/>

  <test thread-count="5" name="Test">
    <classes>
      <class name="etruckingSolution.T"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
